dist/*
lib_managed/
src_managed/
project/boot/
.history
.cache
.lib/
spark-warehouse
*.xsl
*.xml
*.DS_Store
*.class
.DS_Store
target/streams/*
*.properties
project/project/*
project/target/*
project/target/streams/*
target/streams/*
project/target/scala-2.12/*
project/project/target/*
target/streams/compile/compile/*
data/war_data.json
derby.log
metastore_db/